table, tr, td {
    border : 1px solid blueviolet;
    border-collapse: collapse;
}

.rendu {
    color : green
}

.nonRendu {
    color : red;
    background-color : yellow;
    border : 2px dashed violet;
    padding : 5px;
}
