<h2>{{titre}}</h2>
<app-add-assignment *ngIf="formVisible" (nouvelAssignment) ="onNouvelAssignment($event)" ></app-add-assignment>
<!-- <p>{{nomDevoir}}</p> -->

<!-- <!==assigments ici est le variable déclaré dans assignments.components.ts==>
<div *ngFor="let a of assignments"> 
    <p [ngStyle]="{color : c}" *ngIf="a.rendu; else nonsoumis"> <!== c ici est une variable déclaré dans assignments.components.ts également==>
        {{a.nom}}, date de rendu : {{a.dateDeRendu}}, rendu : {{a.rendu}}
    </p>
    <p [ngClass]="{rendu : a.rendu, nonRendu:!a.rendu}"> <!== même fonctionnalité mais avec utilisation ngClass, ici c'est la classe créé dans css==>
        {{a.nom}}, date de rendu : {{a.dateDeRendu}}, rendu : {{a.rendu}}
    </p>
    <ng-template #nonsoumis>
        {{a.nom}} n'a pas été rendu, date limite : {{a.dateDeRendu}}
    </ng-template>
</div>
 
<div *ngFor="let a of assignments"> <!== même fonctionnalité que ci-dessus ==>
    <p [ngStyle]="{color : a.rendu ? 'green' : 'red'}"> <!== si a.rendu = rendu, la couleur est green, sinon red ==>
            {{a.nom}}, date de rendu : {{a.dateDeRendu}}, rendu : {{a.rendu}}
    </p>
</div>

<div *ngFor="let a of assignments"> <!== même fonctionnalité que ci-dessus ==>
    <p appRendu> <!== si a.rendu = rendu, la couleur est green, sinon red ==>
            {{a.nom}}, date de rendu : {{a.dateDeRendu}}, rendu : {{a.rendu}}
    </p>
</div> -->


<main class="container" *ngIf="!formVisible">

    <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()"> Ajouter Assignment
    </button>

    <mat-divider></mat-divider>
    <mat-list *ngFor="let a of assignments">
        <h3 mat-subheader>{{a.dateDeRendu | date: 'dd/MM/YYYY'}}</h3>
        <mat-list-item (click)="onAssignmentClick(a)">
            <p appRendu *ngIf="a.rendu; else nonsoumis">
                {{a.nom}}
            </p>
            <ng-template #nonsoumis>
                {{a.nom}} NON RENDU
            </ng-template>

        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>

    <!-- <p *ngIf="assignmentSelectionne">SELECTIONNE : {{assignmentSelectionne.nom}}</p> -->


    <!--
<table>
    <tr *ngFor="let a of assignments">
        <td> {{a.nom}}</td>
        <td> date de rendu : {{a.dateDeRendu}}</td>
        <td>  rendu : {{a.rendu}}</td>
    </tr>
</table>
-->

    <app-assignment-detail 
        [assignmentTransmis]="assignmentSelectionne" 
        (deleteAssignment)="onDeleteAssignment()" >
    </app-assignment-detail>
</main>

